.item {
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 20px;
}

.item__details {
  display: flex;
  margin-top: 25px;
}

.item__details > img {
  object-fit: contain;
  height: 60px;
  margin-right: 10px;
}
